[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
django-ninja = "*"
python-keycloak = "*"
psycopg2-binary = "*"
psycopg = "*"

[dev-packages]
pre-commit = "*"

[requires]
python_version = "3.10"
